.top-container {
background-color: #F4E6AD;
position: relative;
padding-top: 50px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Dancing Script', cursive;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    top: 210px;
}

.profile-photo {
    border-radius: 20%;

}

body {
    text-align: center;
    background-color: beige;
}

h2 {
    font-family: serif;
}

hr {
    border: dotted #030303 6px;
    border-bottom: none;
    width: 6%;
    margin: 100px auto;

}

.btn {
    background: blue;
    border-radius: 8;
    color: wheat;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.bottom-container {
    background-color: #F4E6AD;
    position: relative;
    padding: 50px 0 20px;
}


