.top-container {
    position: relative;
    height: 1080px;
    width: 100%;
    z-index: -1;
}
    
.mid-container {
    background-color: #d4eff1;
    background-image: url("./images/skulls.png");
}
    
body {
    text-align: center;
    background-color: #CBF1F5;
    background-image: url("./images/leaves.png");
}
    
.bottom-container {
    background-color: #96dee2;
    position: relative;
    padding: 5px 0 10px;
    background-image: url("./images/subtle-grey.png");
}
    
div {
    display: block;
}

h1 {
    font-size: 6rem;
    font-family: 'Dancing Script', cursive;
}

.content {
    position: absolute;
    top: 450px;
    color: #fce4e7;
    width: 100%;
    padding: 20px;
    opacity: 70%;
}
    
.profile-photo {
    border-radius: 20%;
}
    
h2 {
    font-family: 'Dancing Script', cursive;
}
    
.small-text {
    font-size: 2rem;
    font-family:'Dancing Script', cursive;
    color:#fce4e7;
}
    
hr {
    border: dotted #030303 6px;
    border-bottom: none;
    width: 6%;
    margin: 100px auto;
}
    
.btn {
    background: blue;
    border-radius: 8;
    color: wheat;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}





